$navhover:#124680;
$fontcolor:#333333;
$backgroundcolor:#f2f2f2;
$hotelcardtitle:#045aba;
$orangrbtn:#cb3a05;
$dealTagbg:#606060;
$priceColor:#f13745;
$mmtAssuredbg:#1d5089;
$mmtAssuredTick:#eb3237;

