$navhover:#124680;
$dimfont:#717171;
$fontcolor:#333333;
$bodybackgroundcolor:#f2f2f2;
$cardhotelname:#0058be;
$starcolor:#fcd000;
$orangebtn:#c94000;
$greentext:#61a64a;
$dealTagbg:#606060;
$dimmerfont:#a5a5a5;
$priceColor:#f13745;
$mmtAssuredbg:#1d5089;
$mmtAssuredTick:#eb3237;
$footerbgcolor:#134697;

