$navhover:#124680;
$dimfont:#717171;
$fontcolor:#333333;
$bodybackgroundcolor:#f2f2f2;
$hotelcardtitle:#045aba;
$orangrbtn:#c94000;
$dealTagbg:#606060;
$priceColor:#f13745;
$mmtAssuredbg:#1d5089;
$mmtAssuredTick:#eb3237;

