$alltextbluecolor:#008cff;
$allgradientbluecolor:linear-gradient(96deg, #53b2fe, #065af3);
$textgreencolor:#48a783;
$greentooltipcolor:#d7fae2;
$textredcolor:#eb2026;
$textwhitecolor:#fff;
$optionbgcolor:#fff6e7;
$mybuttoncolor:linear-gradient(45deg,#ace143,#219393);
$tablepricebgcolor:#d7fae2;
$citysearchWdiv:#0a223d;
$citysearchWdivbox:rgba(255,255,255, 0.1);
$allgraytextcolor:#545050;
$alllightgraytext:#c5c5c5;
$alltextheadcolor:#484848;

