$alltextbluecolor:#008cff !default;
$allgradientbluecolor:linear-gradient(96deg, #53b2fe, #065af3) !default;
$textgreencolor:#48a783 !default;
$greentooltipcolor:#d7fae2 !default;
$textredcolor:#eb2026 !default;
$lightred:#ff00002e !default;
$textwhitecolor:#fff !default;
$optionbgcolor:#fff6e7 !default;
$mybuttoncolor:linear-gradient(45deg,#ace143,#219393) !default;
$tablepricebgcolor:#d7fae2 !default;
$citysearchWdiv:#0a223d !default;
$citysearchWdivbox:rgba(255,255,255, 0.1) !default;
$allgraytextcolor:#545050 !default;
$alllightgraytext:#c5c5c5 !default;
$alltextheadcolor:#484848 !default;
$bordergraycolor:#80808059 !default;
$lightgrayborder:#dee2e6 !default;
$boxshadow:#8888882b !default;
$lightgray:#e0dddd !default;
