@import "../assets/scss/_svariables.scss";
.breadcrum-style {
    background-color: $textwhitecolor;
    font-size: 0.625rem;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: ">" !important;
  }