@import "../assets/scss/_svariables.scss";
.whole-div {
  background-color: $citysearchWdiv;
}
.col-blue-color {
  background-color: $citysearchWdivbox;
}
.boxhead-font-size {
  font-size: 10px;
  color: $alltextbluecolor;
}
.boxtext-font-size {
  font-size: 12px;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 112px;
  height: 1.2em;
  white-space: nowrap;
}
.boxhead-style {
  border-radius: 2px;
  height: 37px;
  text-align: left;
  width: 150px;
}
.city-display {
  margin: 10px 6px 10px 0px;
}
.search-box-margin {
  text-align: center;
  background: $allgradientbluecolor;
  color: $textwhitecolor;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 19px;
  padding: 3px 25px;
}
