@import "../assets/scss/_svariables.scss";
.whole-div {
  background-color: $citysearchWdiv;
}
.col-blue-color {
  background-color: $citysearchWdivbox;
}
.boxhead-font-size {
  font-size: 0.625rem;
  color: $alltextbluecolor;
}
.boxtext-font-size {
  font-size: 0.75rem;
  color: $textwhitecolor;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 112px;
  white-space: nowrap;
}
.boxhead-style {
  border-radius: 4px;
  padding: 3px 30px 3px 10px;
  text-align: left;
 
}
.city-display {
  margin: 10px 6px 10px 0px;
}
.search-box-margin {
  background: $allgradientbluecolor;
  color: $textwhitecolor;
  border-radius: 1.25rem;
  border: none;
  font-size: 1.1875rem;
  padding: 3px 25px;
}
