@import "../assets/scss/_svariables.scss";
.div-border {
  border: 0.0625rem solid $bordergraycolor;
  border-radius: 0.375rem;
  box-shadow: 0.0625rem 0.0625rem 0.0625rem 0.0625rem $boxshadow;
  padding: 0.8125rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: $alltextheadcolor;
}
.ibis-facility-head {
  font-size: 1.125rem;
  font-weight: bold;
  color: $alltextheadcolor;
}
.ibis-facility-subhead {
  font-size: 0.8125rem;
  color: $allgraytextcolor;
  line-height: 0.5625rem;
}
.heading2-span-font {
  color: $textgreencolor;
}
.list-font {
  font-size: 0.6875rem;
}
.div-bottom-border {
  border-bottom: 0.125rem solid $lightgrayborder;
}
.verfiy-font {
  font-size: 1.125rem;
  color: $alltextheadcolor;
}
.verfiy-font-below {
  font-size: 0.8125rem;
  color: $allgraytextcolor;
  line-height: 0.5rem;
}
.text-hover-facility:hover {
  text-decoration: none;
  color: $allgraytextcolor;
}
.text-hover-facility {
  color: $allgraytextcolor;
}