@import "../assets/scss/_svariables.scss";
.option-bg {
  background-color: $optionbgcolor;
}
.text-style {
  font-size: 0.75rem;
}
.include-row-style {
  border: 0.0625rem solid #dee2e6;
  padding: 0px;
  max-width: 3.75rem;
}
.tick-iconsize {
  font-size: 0.625rem;
}