@import "../assets/scss/_svariables.scss";
ul > li {
  display: inline;
  list-style-type: none;
}
.content-inline {
  display: inline;
  list-style-type: none;
}
.icon-text-font {
  font-size: 16px;
  padding-right: 3px;
}
.login-icon {
  border-radius: 50%;
  color: white;
  background-image: $mybuttoncolor;
  border: none;
  height: 24px;
  width: 24px;
  text-align: center;
  font-size: 10px;
  padding: 4px;
}
.login-font-size {
  font-size: 10px;
  color: $alltextheadcolor;
}
.icon-display {
  display: block;
  font-size:11px;
}
button:focus{
    outline: none;
}
.icon-img-hover:hover{
  color:$alltextbluecolor
}
.login-font-size:hover{
  text-decoration: none;
  color:$alltextheadcolor;
}
.icon-img-hover.active{
  color:$alltextbluecolor;
}
.login-text-display
{
  display: inline-flex;
}
