@import "../assets/scss/_svariables.scss";
ul > li {
  display: inline;
  list-style-type: none;
}
.content-inline {
  display: inline;
  list-style-type: none;
}
.icon-text-font {
  font-size: 16px;
  padding-right: 3px;
}
.my-button {
  border-radius: 365%;
  color: white;
  background-image: $mybuttoncolor;
  border: none;
  height: 22px;
  width: 22px;
  text-align: center;
  font-size: 10px;
}
.login-font-size {
  font-size: 10px;
  color: black;
}
.icon-display {
  display: block;
  font-size:11px;
}
button:focus{
    outline: none;
}
.icon-img-hover:hover{
  color:$alltextbluecolor
}
.login-font-size:hover{
  text-decoration: none;
  color:black;
}
.icon-img-hover.active{
  color:$alltextbluecolor;
}
