@import "../assets/scss/_svariables.scss";
.none-refund {
  color: $textredcolor;
}
.read-more {
  color: $alltextbluecolor;
  font-size: 0.6875rem;
  line-height: 0.3125rem;
}
.whole-div-font {
  font-size: 0.75rem;
}
.non-icon-size {
  font-size: 1rem;
}