@import "../assets/scss/_svariables.scss";

.none-refund {
  color: $textredcolor;
}
.till-time-date {
  color: $allgraytextcolor;
}
.lineheight {
  color: #008cff;
  font-size: 0.6875rem;
  line-height: 1.7;
}