@import "../assets/scss/_svariables.scss";
.button-style {
  font-size: 0.625rem;
}
.price-title {
  background-color: #d7fae2;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 7px 16px;
  margin: -12px -33px 15px;
}
.price-color {
  font-size: 1.0625rem;
  color: $alltextheadcolor;
}
.price-table-prices {
  color: $alllightgraytext;
  font-size: 0.625rem;
}
.price-table-head {
  color: $allgraytextcolor;
}
.table-price-strike {
  text-decoration: line-through;
}
.price-title::before {
  background-color: $tablepricebgcolor;
  position: relative;
  padding: 0.625rem 1rem;
  margin: -16px -20px 15px;
}
.price-table-head::after {
  top: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  position: absolute;
  border-top-color: $tablepricebgcolor;
  border-width: 0.875rem;
}
.text-lineheight {
  line-height: 16px;
}