@import "../assets/scss/_svariables.scss";
// .font-size {
//   border-bottom: 1px solid #8080805c;
//   -webkit-box-shadow: 0px 9px 0px 1px #b1a8a812;
//   box-shadow: 0px 9px 0px 1px #b1a8a812;
//   margin-bottom: 1.875rem;
//   font-size: 0.8125rem;
//   font-weight: bold;
// }
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: $allgraytextcolor;
  background-color: $textwhitecolor;
  border-color: $lightgrayborder;
  border-bottom: 3px solid $alltextbluecolor;
  font-weight: bold;
}
.nav-link {
  color: $allgraytextcolor;
  padding-bottom: 0.3125rem;
  padding-left: 0.3125rem;
}

.nav-tabs .nav-link {
  border: none;
  border-top-left-radius: none;
  border-top-right-radius: none;
}
.nav-tabs {
  border-bottom: 1px solid $lightgrayborder;
  font-size: 0.8125rem;
}
.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
  color: $allgraytextcolor;
}
.tab-content > .active {
  display: block;
  outline: none;
}
.nav-link {
  color: $allgraytextcolor;
  padding-bottom: 0px;
  padding-left: 0px;
}
.nav-link {
  display: block;
  padding: 0px;
}
.nav-tabs .nav-link {
  padding: 0px 0px 10px 0px;
  margin: 0px 35px 0px 0px;
}