@import "../assets/scss/_svariables.scss";
.div-border-review {
  border: 1px solid #80808059;
  border-radius: 6px;
  padding: 19px;
  box-shadow: 1px 1px 1px 1px #8888882b;
}
.icon-color {
  color: $textgreencolor;
  font-size: 14px;
  vertical-align: middle;
}
.comment-lightgray-head {
  color: $alllightgraytext;
  font-size: 11px;
}
.para-font-size {
  font-size: 12px;
  color: $allgraytextcolor;
}
.allreview-font {
  font-size: 11px;
  color: $alltextbluecolor;
}
.advisor-font-color {
  color: $textgreencolor;
}
.powered-font-color {
  color: $allgraytextcolor;
  font-size: 10px;
}
.powered-fontsize {
  font-size: 12px;
}
.trip-advisor-fontsize {
  font-size: 11px;
}
.trip-icon-color {
  font-size: 13px;
}
.icon-size {
  font-size: 10px;
}
.review-div1-numsize {
  font-size: 30px;
  color: white;
}
.review-col1-bg {
  background-color: $textgreencolor;
  padding: 4px 10px 0px 10px;
}
.review-col1-divborder {
  border: 1px solid $textgreencolor;
  border-radius: 4px;
}

.review-col2-numsize {
  font-size: 12px;
  color: $allgraytextcolor;
}
.review-col2-border {
  border-right: 1px solid #b6b3b32e;
  font-size: 11px;
}
.location-margin {
  font-size: 10px;
  color: #1ea270c4;
  text-align: center;
}
.review-div1-fontsize {
  font-size: 12px;
  color: white;
}
.icon-color-display {
  display: block;
  color: $allgraytextcolor;
}
.slash-color {
  color: $allgraytextcolor;
}
.text-hover-review:hover {
  text-decoration: none;
  color: $alltextbluecolor;
}
.review-dot-icon {
  font-size: 10px;
  vertical-align: middle;
}
.cursor-pointer-text {
  cursor: pointer;
}
.review-grade-db {
  display: block;
}
.review-col2-relative {
  position: relative;
  clear: both;
  line-height: 10px;
}
.review-col2-div-bgwhite {
  background-color: white;
}
.review-hr-position {
  position: absolute;
  top: -8px;
  z-index: -1;
  width: 100%;
}
.grade-fontsize {
  font-size: 10px;
  color: $allgraytextcolor;
  float: left;
}
.review-numsize {
  font-size: 9px;
}
.text-hover-color:hover {
  text-decoration: none;
  color: $alltextbluecolor;
}
.text-hover-color {
  color: $alltextbluecolor;
}
.div1-lineheight {
  line-height: 4px;
  padding-bottom: 12px;
}