@import "../assets/scss/_svariables.scss";
.div-border-review {
  border: 0.0625rem solid $bordergraycolor;
  border-radius: 0.375rem;
  padding: 1.1875rem;
  box-shadow: 0.0625rem 0.0625rem 0.0625rem 0.0625rem $boxshadow;
}
.icon-color {
  color: $textgreencolor;
  font-size: 0.875rem;
  vertical-align: middle;
}
.comment-lightgray-head {
  color: $alllightgraytext;
  font-size: 0.6875rem;
}
.para-font-size {
  font-size: 12px;
  color: $allgraytextcolor;
}
.allreview-font {
  font-size: 0.6875rem;
  color: $alltextbluecolor;
}
.advisor-font-color {
  color: $textgreencolor;
}
.powered-font-color {
  color: $allgraytextcolor;
  font-size: 0.625rem;
}
.powered-fontsize {
  font-size: 0.75rem;
}
.trip-advisor-fontsize {
  font-size: 0.6875rem;
}
.trip-icon-color {
  font-size: 0.8125rem;
}
.icon-size {
  font-size: 0.625rem;
}
.review-div1-numsize {
  font-size: 1.875rem;
  color: $textwhitecolor;
}
.review-col1-bg {
  background-color: $textgreencolor;
  padding: 4px 10px 0px 10px;
}
.review-col1-divborder {
  border: 1px solid $textgreencolor;
  border-radius: 4px;
}

.review-col2-numsize {
  font-size: 0.75rem;
  color: $allgraytextcolor;
}
.review-col2-border {
  border-right: 1px solid #b6b3b32e;
  font-size: 0.6875rem;
}
.location-margin {
  font-size: 0.625rem;
  color: $textgreencolor;
  text-align: center;
}
.review-div1-fontsize {
  font-size: 0.75rem;
  color: $textwhitecolor;
}
.icon-color-display {
  display: block;
  color: $allgraytextcolor;
}
.slash-color {
  color: $allgraytextcolor;
}
.text-hover-review:hover {
  text-decoration: none;
  color: $alltextbluecolor;
}
.review-dot-icon {
  font-size: 0.625rem;
  vertical-align: middle;
}
.cursor-pointer-text {
  cursor: pointer;
}
.review-grade-db {
  display: block;
}
.review-col2-relative {
  position: relative;
  clear: both;
  line-height: 0.625rem;
}
.review-col2-div-bgwhite {
  background-color: $textwhitecolor;
}
.review-hr-position {
  position: absolute;
  top: -8px;
  z-index: -1;
  width: 100%;
}
.grade-fontsize {
  font-size: 0.625rem;
  color: $allgraytextcolor;
  float: left;
}
.review-numsize {
  font-size: 0.5625rem;
}
.text-hover-color:hover {
  text-decoration: none;
  color: $alltextbluecolor;
}
.text-hover-color {
  color: $alltextbluecolor;
}
.div1-lineheight {
  line-height: 0.25rem;
  padding-bottom: 0.75rem;
}