@import "../assets/scss/_svariables.scss";
.all-redtext-color
{
  color: $textredcolor;
}
.all-green-color{
  color: $textgreencolor;
}
.all-blue-color{
  color: $alltextbluecolor;
}
.div-display-inline-block{
  display: inline-block;
}

.star-color {
  color: #8080805c;
}
.swiper-style {
  height: 270px;
  background-image: url(../assets/ImagesS/roomimage.jpeg);
  border-radius: 3px 0px 0px 3px;
}
.outline-whole-row {
  border: 1px solid #8080807a;
  font-size: 10px;
  border-radius: 3px;
  box-shadow: 0.01px 0.01px 0.01px 0.01px grey;
  padding: 9px 16px 18px 16px;
}
.roominfo-col3-review 
{
  border: 1px solid #8080807a;
  font-size: 12px;
  border-radius: 3px;
  box-shadow: 0.01px 0.01px 0.01px 0.01px grey;
  padding: 9px 16px 27px 16px;
}
.col3-others-room-text{
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  line-height: 25px;
}
.outline-button {
  margin-left: 25px;
}
.outline-whole-row2 {
  border: 1px solid #8080807a;
  font-size: 12px;
  margin-top: 10px;
  height: 112px;
  border-radius: 6px;
}
.roominfo-col-3 {
  font-size: 11px;
  width: 277px;
  height: 28px;
  text-align: center;
  border-radius: 3px;
  color: red;
  background-color: #ff00002e;
  margin-top: -28px;
  padding: 6px 6px 6px 0px;
}

.booknow-box-button {
  background: $allgradientbluecolor;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 0.7rem;
  color: $textwhitecolor;
  padding: 5px 14px;
}
.swiper-button-prev,
.swiper-button-next {
  background-size: 16px 44px;
}
.div-back-image-restaurant {
  background:
    url("../assets/ImagesS/rest.jpeg");

  height: 104px;
  width: 164px;
  position: relative;
}
.div-back-image-map {
  background: linear-gradient(rgba(13, 14, 14, 0.12), rgba(19, 21, 21, 0.83)),
    url("../assets/ImagesS/rest.jpeg");

  height: 48px;
  width: 167px;
  border-radius: 3px;
}
.font-rest {
  color: white;
  font-size: 10px;
  margin-top: 87px;
  margin-left: 11px;
  font-weight: bold;
  position: absolute;
  bottom: 5px;
  left: 8px;
}
.div-back-image-room {
  background-image:
    url("../assets/ImagesS/room.jpeg");

  height: 158px;
  width: 100%;
  border-radius: 0px 3px 3px 0px;
  position: relative;
  background-repeat: round;
}
.font-room {
  color: white;
  font-size: 10px;
  margin-top: 108px;
  font-weight: bold;
  position: absolute;
  bottom: 5px;
  left: 8px;

}
.col3-price-per-night-text
{
    color: $alllightgraytext;
    font-size: 10px;
}
.col3-pricedetails-below-border {
  border-top: 1px solid #80808057;
}
.col3-room-queen-font {
  font-size: 13px;
}
.col3-price-line-through {
  text-decoration: line-through;
  color: $allgraytextcolor;
}
.col3-price-details {
  font-size: 17px;
  line-height: 20px;
}
.col3-saveing-price {
  font-size: 9px;
  color: $textredcolor;
}
.col3-tick-icon{
  font-size: 9px;
  color: $textgreencolor;
}
.col3-2adults
{
  line-height: 7px;
  color: $allgraytextcolor;
  font-size: 10px;
}
.col3-advisor-button-sm {
  background-color: $textgreencolor;
  color: white;
  height: 30px;
  width: 48px;
  border-radius: 3px;
  font-size: 15px;
}
.booknow-button {
  padding: 0px;
  margin-left: 65px;
}
.whole-div-font-size {
  font-size: 9px;}

.review-color {
  color: $textgreencolor;
  font-weight: bold;
  font-size: 10px;
}
.review-margin {
  margin-top: -7px;
}
.review-below {
  font-size: 0.8rem;
  color: $alltextheadcolor;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 244px;
  height: 2.2em;
  white-space: nowrap;
}
.col3-northstar-text {
  font-size: 0.7rem;
  color:$allgraytextcolor;
}
.hotel-star-size{
  font-size: 9px;
  display: inline-block;
  vertical-align: middle;
}
.more-review-font {
  color: $alltextbluecolor;
}
.ibis-hotel-head {
  font-size: 18px;
  display: inline-block;
    vertical-align: baseline;
}
.ibis-hotel-subhead {
  color: $alltextbluecolor;
  font-size: 13px;
  line-height: 2px;
}
.sec-th-margin {
  margin-left: 6px;
  border-radius: 3px;
}
.roominfo-fulldiv-display
{
  display: flex;
}
.review-display-flex{
  display: inline-flex;
}

.northstar-text-overflow{
  text-overflow: ellipsis;
  overflow: hidden;
  width: 78px;
  height: 1.2em;
  white-space: nowrap;
}
.standard-room-div-width{
  width: 60%;
}
