@import "../assets/scss/_svariables.scss";
.div-max-width {
  max-width: 11.4375rem;
}
.about-room {
  font-size: 0.625rem;
  color: $alltextbluecolor;
}
.text-size {
  font-size: 0.8125rem;
  font-weight: 100;
}
.roomtype-facility-icon {
  padding-right: 4px;
  font-size: 0.625rem;
  color: $allgraytextcolor;
}
.roomtype-facility-text {
  font-size: 0.75rem;
  color: $allgraytextcolor;
}
.heading-color {
  color: $alltextheadcolor;
}