@import "../assets/scss/_svariables.scss";
.div-max-width {
  max-width: 183px;
}
.about-room {
  font-size: 0.625rem;
  color: $alltextbluecolor;
}
.text-size {
  font-size: 0.8125rem;
  font-weight: 100;
}
.div-padding {
  padding: 6px;
}