
@import "../assets/scss/_svariables.scss";

.row-gray-color {
    background-color: #8080801f;
    font-size: 0.6875rem;
    color: #2f2b2bb8;
  }
  .breakfast-style {
    border: 1px solid #cabfbf5c;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 12px 12px 12px 0px;
    padding: 12px 12px;
    font-size: 0.6875rem  ;

  }
  .vertical-align-text
  {
    vertical-align: middle;
  }
  .free-cance-margin {
    margin-left: -382px;
  }
  .option-row-style {
    border: 1px solid #dee2e6;
    padding: 0px;
    max-width: 3.75rem;
  }
  .td-max-width {
    max-width: 5rem;
  }
  .price-td-width {
    max-width: 167px;
    font-size: 0.75rem;
  }
  .roomtype-width {
    width: 108px;
  }
  .table-outline {
    outline: none;
  }
  .table2-option-row-style {
    border: 1px solid #dee2e6;
    padding: 0px;
    max-width: 75px;
  }
  .srcol-head
  {
    border-bottom: 1px solid #8080805c;
    box-shadow: 0px 9px 0px 1px #b1a8a812;
    margin-bottom: 30px;
    padding-left: 72px;
    font-size: 0.8125rem;
    font-weight: bold;
  }
  .table-wrapper {
    border: 1px solid #8080805c;
    border-radius: 4px;
    overflow: hidden;
  }
  
  table {
    border-collapse: collapse;
  }
  .table tbody + tbody {
    border-top: 6px solid #bcc1c5;
}



 